<form name="formName" >
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-12 column">
                <div class="heading-profile">
                    <h2>Create New Project</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="widget">
        <div class="form-elements-sec">
            <div class="sec">
                <div class="clearfix"></div>
                <div>
                    <div>
                        <!--<div class="mark-float">
                                <i class="fa fa-plus-circle success" ng-click="addHead();"></i>
                                <i class="fa fa-minus-circle danger" ng-click="removeHead($index);"></i>
                            </div>-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Enter Project Name</label>
                                    <input type="text" ng-model="form.name" class="form-control">
                                </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Enter Mock Url</label>
                                <input type="text" ng-model="form.name" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Enter Development Url</label>
                            <input type="text" ng-model="form.name" class="form-control">
                        </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Enter Testing Url</label>
                        <input type="text" ng-model="form.name" class="form-control">
                    </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Enter Production Url</label>
                    <input type="text" ng-model="form.name" class="form-control">
                </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Enter Git Name</label>
                <input type="text" ng-model="form.name" class="form-control">
            </div>
    </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="text-center mt20 odd-even-button">
        <button class="btn btn-default" type="submit" ng-disabled="formName.$invalid">Save</button>
    </div>
    </div>
</form>